$primary-color:#E6D0CB;
$secundary-color:#988581;
$tertiary-color:#EECBC4;
$white-color:#FFEAE6;
$black-color: #2C2221;
$font-stack: 'open sans' , sans-serif; 

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

