$primary-color:#E6D0CB;
$secundary-color:#988581;
$tertiary-color:#EECBC4;
$white-color:#FFEAE6;
$black-color: #2C2221;
$font-stack: 'open sans' , sans-serif;
$paragraph-size: 1.5rem; 
$tablet: 600px;

@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color:$primary-color;
    font-family: $font-stack;
    color: $black-color;
}

nav {
    width: auto;
    @include flexCenter(row, space-between , center);
    padding: $paragraph-size;

    h1 {
        font-size: $paragraph-size;
        padding-left: 15px;
        color: $black-color;
    }

    .menu {
        display: flex;
        gap: 15px;
        @include buttonStyle;
        padding-right: $paragraph-size * 2;
    }

    .icons {
        display: none;
    }
}

article {
    width: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;

    .impact-section{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 25px;
    }

    h2 {
        font-size: 2rem;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-size: $paragraph-size;
    }

    button {
        width: 40vw;
        padding: 20px;
        background-color: $black-color;
        border-style: none;
        border-radius: 20px;
        color: $white-color;
        font-size: 1rem;
    }
    .image-section{
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        gap: 25px;
    }
    img {
        border-radius: 20px;
    }
}

section {
    width: auto;
    height: auto;
    padding: 6rem;
    
    h2 {
        color: $black-color;
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .furniture {
        padding-bottom: 60px;
        h3 {
            font-weight: 500;
            padding: 2rem 0;
        }
        .card-section {
            width: auto;
            height: auto;
            @include flexCenter(row, space-evelyn ,center );
            flex-wrap: wrap;
            column-gap: 200px;
            row-gap: 80px;
        }

        .product-card {
            width: 100%;
            background-color: $tertiary-color;
            color: $black-color;
            padding: 20px;
            border-radius: 8px;
            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg {
                    width: 28px;
                    height: 28px;
                }
            }
            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 40vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
}


// Estilos para tablets
@media (min-width: $tablet) {

    nav {
        width: auto;
        @include flexCenter(row, space-between , center);
        padding: $paragraph-size;
    
        h1 {
            font-size: $paragraph-size * 2;
            padding-left: 3rem;
        }
    
        .menu {
            display: none;
        }
    
        .icons {
            display: flex;
            gap: 15px;
            @include buttonStyle;
            padding-right: $paragraph-size * 2;
            @include flexCenter(row, space-between , center);
        }
    }

    article {
        display: flex;
        flex-direction: row;
    
        .impact-section{
            display: flex;
            margin-right: 5rem;
            gap: 5rem;
            justify-content: center;
            padding: 0;
        }
    
        h2 {
            font-size: 4rem;
        }
    
        h3 {
            font-size: $paragraph-size * 2;
        }

        .image-section{
            width: 60vh;
            display: flex;
            flex-direction: column;
            padding: 50px 0;
            gap: 25px;
        }

        button {
            width: 20vw;
        }
    }
}  

section {
    width: auto;
    height: auto;
    padding: 6rem;
    
    h2 {
        color: $black-color;
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .furniture {
        padding-bottom: 60px;

        h3 {
            font-weight: 700;
            padding: 2rem 0;
        }
        .card-section {
            width: auto;
            height: auto;
            @include flexCenter(row, space-evelyn ,center );
            flex-wrap: wrap;
            column-gap: 80px;
            row-gap: 80px;
        }

        .product-card {
            width: 24vw;
            background-color: $tertiary-color;
            color: $black-color;
            padding: 20px;
            border-radius: 8px;
            .icon {
                width: 18vw;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg {
                    width: 28px;
                    height: 28px;
                }
            }
            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 16vw;
                    height: 40vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
}

