$primary-color:#5CB3D6;
$secundary-color:#F0AF75;
$tertiary-color:#F0A275;
$white-color:#CFEFFC;
$black-color: #21292C;
$font-stack: 'open sans' , sans-serif; 

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}